`csv` `json` `csv.DictWriter` `csv.DictReader`

In [ ]:
# Имя Фамилия

Ссылка на колаб:
https://colab.research.google.com/drive/1I88UQGNPYuHbYbkSvRVcCD9bqEO5kHNx?usp=sharing

Формат файлов CSV можно представлять как текстовый, можно как табличный.
CSV расшифровывается как comma separated values (значения, разделённые запятой). Если такой файл открыть в текстовом редакторе, всё будет достаточно очевидно, а если в редакторе таблиц (например, Excel), то каждое значение между запятыми будет восприниматься как ячейка. Попробуйте сохранить следующее текстовое содержимое как файл с расширением csv и пооткрывать его как таблицу:

In [ ]:
first_name,last_name,result_0,result_1,result_2,age
Алексей,Иванов,15,17,14,23
Ирина,Алексеева,18,12,20,22

Как вы понимаете, первая строка &mdash; шапка таблицы, в которой записаны названия полей: имя, фамилия, результат в первой, второй, третьей отборочной игре (допустим, это игра в шляпу) и возраст. Кстати, обратите внимание, что `result_*` нумеруется с нуля &mdash; программирование всё-таки.

Разделителем может быть запятая, может быть что-то другое. Существует отдельно формат TSV &mdash; tabs separated values.

Задание 1. Три игры

Напишите функцию, которая генерирует файл с именем вида `f"{dst_file_name}.csv"`, в который записывает таблицу, как в приведённом примере выше, только строчек там больше &mdash; каждая строчка соответствует ученику вашего класса! Все значения `result_*` должны быть равны 0.

Для этого задания вам понадобится:
- работа с файлами: можно почитать [вот здесь](https://pyneng.readthedocs.io/ru/latest/book/07_files/index.html);
- работа с CSV-файлами: [вот документация](https://docs.python.org/3/library/csv.html) или [вот здесь можно почитать](https://www.geeksforgeeks.org/working-csv-files-python/);
- если конкретнее, `csv.writer()` или `csv.DictWriter()`, я больше люблю второй;
- достать откуда-то список вашего класса и данные о возрасте. Можете все в чат написать свой возраст, как вариант;

In [ ]:
def generate_csv_result_table_3(dst_file_name: str):
    raise NotImplementedError  # уберите это, когда начнёте писать

generate_csv_result_table_3("table")  # должен получиться файл "table.csv"

# полезно указывать кодировку:
# file_name_with_ext = f"{dst_file_name}.csv"
# with open(file_name_with_ext, 'w', encoding="utf-8") as out: ...

Задание 2. n игр

Напишите функцию, которая делает то же самое, только теперь отборочных игр не три, а переменное количество. Остальное &mdash; всё то же самое.

In [ ]:
def generate_csv_result_table(dst_file_name: str,
                              num_qualification_games: int):
    raise NotImplementedError  # уберите это, когда начнёте писать

generate_csv_result_table(dst_file_name, 5)  # должен получиться файл "table.csv"
# колонки в нём: first_name,last_name,result_0,result_1,result_2,result_3,result_4,age

Задание 3. JSON to CSV

Напишите функцию, которая из приведённого ниже примера JSON-файла делает приведённый ниже пример CSV-файла (то есть конвертацию). Обращаю внимание, что число полей `result_*` (да и в целом состав полей) вы не знаете!

Вам понадобится:
- очень рекомендую `csv.DictReader()` и `csv.DictWriter()`
- умение работать с JSON и понимание, что такое JSON (рекомендую [наш прошлогодний листок](https://colab.research.google.com/drive/1gdOzcrFnqbkAXi4pRDjy4k1XDL9GWd2O))
- внимательно подумать, как работать с числами и строками

In [ ]:
# first_table.json
[
    {
        "first_name": "Алексей",
        "last_name": "Иванов",
        "result_0": 15,
        "result_1": 17,
        "result_2": 14,
        "age": 23
    },
    {
        "first_name": "Ирина",
        "last_name": "Алексеева",
        "result_0": 18,
        "result_1": 12,
        "result_2": 20,
        "age": 22
    },
]

# second_table.csv
first_name,last_name,result_0,result_1,result_2,age
Алексей,Иванов,15,17,14,23
Ирина,Алексеева,18,12,20,22

In [ ]:
def convert_json_to_csv(json_src_file_name: str, csv_dst_file_name: str):
    raise NotImplementedError

convert_json_to_csv("first_table", "second_table")

Задание 4. CSV to JSON

Напишите функцию, аналогичную функции в 3 задании, только она должна выполнять обратные действия!

Вам ОЧЕНЬ понадобится:
- ВНИМАТЕЛЬНО подумать, как работать с числами и строками

In [ ]:
def convert_csv_to_json(csv_src_file_name: str, json_dst_file_name: str):
    raise NotImplementedError

convert_csv_to_json("second_table", "first_table")